<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          We believe that innovative audio technology should be accessible to everyone, despite their technical know-how or budget.
          That's why we create easy-to-use and affordable mobile apps that use advanced technology to improve your everyday life.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          Our products are based on 15 years of experience in pioneering audio research and user experience design,
          which we use to design and build products that make audio technology not just functional, but also fun and delightful to use.
        </p>
      </div>
    </div>
  </div>
</section>
